<!-- <html>
   <body>
    <img  width="40%" src="assets/eb.png" style="margin-left: 50%; margin-top: 5%;" >
    <div class="text">
        <h1 class="he">Any story any time,<br><br> anywhere. </h1>
        <br><Br>
        <h2>Enjoy unlimited access to ebooks your choice. <br>Listen to thousands of ebooks.<br>Listen and read whenever you want.</h2>
        </div>
    </body>


</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="book">
    <div class="back"></div>
    <div class="page6"><img src="assets/1.jpg" alt="asdfg"></div>
    <div class="page5"><img src="assets/1.jpg" alt="asdfg"></div>
    <div class="page4"><img src="assets/1.jpg" alt="asdfg"></div>
    <div class="page3"></div>
    <div class="page2"></div>
    <div class="page1"></div>
    <div class="front"></div>

  </div>
</body>
</html>






